body {
  background-color: white;
  color: gray;
  width: 100%;
  padding-top: 50px;
}

h1 {
  font-family: 'league script';
  margin-top: 60px;
  margin-left: 15%;
  background: white;
  font-size: 40pt;
  color: pink;
}

h2 {
  font-family: 'league script', serif;
  font-size: 18pt;
}

header {
  height: 250px;
  width: 800px;
}

section {
  margin-left: 10%;
}

div {
  float: left;
}

ul {
  list-style-type: square;
}

ul li {
  padding: 5px;
}

ol li {
  padding: 5px;
}

div {
  margin-right: 40px;
}

a {
  color: gray;
  font-family: 'EB Garamond', serif;
  text-decoration: none;
}

a:visited {
  color: #7a88a0
}

a:hover {
  color: pink;
}

footer a {
  font-size: 10pt;
  color: pink;
}

footer {
  position:relative;
  margin-top:300px;
  left:30%;
}
