body {
  margin: 0;
  padding: 0;
  border: 20px solid #33ffcc;
  overflow: auto;
}

@media screen and (min-width:700px) {}

@media screen and (max-width:699px) {}

header {
  position: relative;
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  font-size: 2em;
  overflow: auto;
  text-align: center;
  top: 30px;
}

section {
  position: relative;
  margin-top: 50px;
  margin-right: 10%;
  margin-left: 10%;
}

div {}

.block {
  display: inline-block;
  margin-bottom: 10%;
}

#catch22,#paperGirls,#paperGirls2,#hotel,#luminaries {
  top: 30%;
  transform: rotate(0deg);
  margin:2%;
}

#yellowButton {
  position: absolute;
  display: none;
  top: 100px;
  left: -50px;
}

.interface {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  text-decoration: underline;
}

footer {
  width: 100%;
  text-align: center;
  margin-bottom: 4%;
}

a {
  background-color: white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.1em;
  color: #ff0099;
  text-decoration: none;
  margin-right: 10px;
}

a:hover {
  background-color: white;
  color: #ff99cc;
}

#catch22Text, #luminariesText, #paperGirlsText,#hotelText {
  max-width:80%;
  max-height:450px;
  position: fixed;
  margin: 5%;
  top: 7%;
  right:3%;
  overflow: auto;
  background-color: white;
  color: black;
  border: 15px solid #33ffcc;
  padding: 10px;
  display: none;
}

p span {
  display: block;
}

.bookTitle {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  color: #ff0099;
  background-color: white;
  text-align: center;
  margin-top: 5%;
}

.author {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  font-size: 1.1em;
  margin-top: 1%;
  color: #ff0099;
  background-color: white;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85em;
  line-height: 190%;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%
}

.quote {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5em;
  line-height: 150%;
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.sources {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 0.9em;
  margin-top: 3%;
}

.close {
  position: relative;
  margin-left: 95%;
  top: -380px;
}

.close2 {
  position: relative;
  margin-left: 95%;
  top: -300px;
}

.close3 {
  position: relative;
  margin-left: 95%;
  top: -300px;
}

.close4 {
  position: relative;
  margin-left: 95%;
  top: -300px;
}
