body{
	position:relative;
	top:10%;
	width:800px;
	margin:auto;
}
h1{
	margin-top:50px;
	margin-bottom:10px;
	padding:0px;
	font-family:helvetica;
	font-size:15pt;
	text-transform:uppercase;
	line-height:90%;
	letter-spacing:5pt;
}
h2{
	margin-top:10px;
	margin-bottom:40px;
	font-family:helvetica;
	font-size:10pt;
	line-height:90%;
}
p{
	font-family:garamond;
	line-height:150%;
}
nav{
	position:fixed;
	top:0;
	width::100%;
	margin:auto;
}
ul {
    list-style-type: none;
    background-color:black;
}
li {
    display: inline;
	margin-left:15px;
}
a{
	font-family:helvetica;
	font-size:20pt;
	text-transform:uppercase;
	color:white;
	text-decoration:none;
}

img{
	padding-top:20px;
}
