@charset "UTF-8";

/* CSS Document */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, section {
  display: block;
}

body {
  line-height: 1;
  color: white;
  background-color: #60caff;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.question {
  font-family: 'Josefin Slab', serif;
  font-size: 1em;
  background-color: #60caff;
  color: white;
}

.header {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
  color: white;
}

p {
  font-family: 'Josefin Slab', serif;
  color: white;
  background-color: #60caff;
  text-align: left;
  font-size: 1.7em;
  line-height: 140%;
  margin-top: -9%;
  margin-left: 50%;
}

header {
  text-align: left;
  width: 100%;
  margin-top: 70px;
  margin-left: 5%;

}

#main {
  text-align: center;
}

a {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 1em;
  background-color: #60caff;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: #60caff;
}

li {
  padding: 40px;
  float: left;
}

nav {
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  height:20px;
}

#numDays, #numHours, #numMin {
  color: red;
  background-color: #60caff;
}

.tip {
  background-color: white;
  color: black;
  font-family: 'Josefin Slab', serif;
  font-size: 0.8em;
  border-radius: 15px;
  padding: 10px;
  width: 100px;
}

figure {
  float: left;
  margin-left:50px;
}

figcaption {
  text-align: center;
  margin-top: 20px;
}

#palmTip, #surf1Tip, #surf2Tip {
  display: none;
}

#surf1Tip,#surf2Tip{
	margin-top:-400px;
	margin-left:-90px;
}

#palmTip {
  margin-top: -200px;
}

#surf1,#surf2{
	height:400px;
}

#palm{
	height:400px;
}

#glass{
	margin-top:50px;
}

#glassTip{
	margin-top:-100px;
	margin-left:-50px;
}
