ul {
	    list-style-type: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%;
	background-color:black;
}

nav li {
    float: left;
	width:33%;
	text-align:center;
}

nav li a {
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
	font-family:'PT Sans Narrow', sans-serif;
}

p{
	margin-top:100px;
	font-family:'Knewave', cursive;
	font-size:5em;
	margin-left:15%;
}

#brands li{
	width:33%;
	height:300px;
	float:left;
	text-align:center;
}

#brands a{
	font-family:'PT Sans Narrow', sans-serif;
	color:black;
	text-decoration:none;
}

#everlane{
	background-image: url("images/everlane_image.jpg");
}

#reformation{
	background-image: url("images/reformation_image.jpg");
}

#patagonia{
	background-image: url("images/patagonia_image.jpg");
}
